@* 1. How many are Active 
   1.1 How many are probation
   1.2 How many are PIP
   1.3 How many are in separation (Resigned)
   2. How many are Inactive
   3. How mat are Allocated to Work currently
   4. How many are Free (Bech) means who are active and not allocated
    *@
 
<h3>Employee Statitics Dashboard</h3>
 
